---
import Navigation from "@/components/Navigation.astro";
import { Card, CardContent } from "@/components/ui/card";
import * as about from "../assets/markdown/about.md";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

const html = await about.compiledContent();
---

<Layout>
  <Navigation />
  <section class="py-8 space-y-6">
    <Card>
      <CardContent>
        <div class="prose max-w-none text-foreground" set:html={html} />
      </CardContent>
    </Card>
  </section>
</Layout>
