---
import { Card, CardContent } from "@/components/ui/card";
import * as about from "../assets/markdown/about.md";

const html = await about.compiledContent();
---

<section class="py-8 space-y-6">
  <Card>
    <CardContent>
      <div class="prose max-w-none text-foreground" set:html={html} />
    </CardContent>
  </Card>
</section>