@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;

    --mainTextColor:var(--mainTextColor-dark);
    --secondaryTextColor:var(--secondaryTextColor-dark);
    --mainLinkColor:var(--mainLinkColor-dark);
    --mainBorderColor:var(--mainBorderColor-dark);
    --mainBgColor:var(--mainBgColor-dark);
}

*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body{
    background-color: var(--mainBgColor);
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
}

li{
    line-height: 1.9em;
}

html{
    scroll-behavior: smooth;
}

nav {
    justify-content: space-between; /* Adjust alignment */
    align-items: center;
    height: 17vh;
    position: fixed;
    width: 100%; /* Change width to 100% to ensure it spans the entire width */
    z-index: 1000;
    top: 0;
    background-color: var(--mainBgColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    padding: 0 2rem; /* Add padding to keep content away from the edges */
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

nav, .nav-links{
    display: flex;
}

#container--main {
    max-width: 700px;
    margin-top: 17vh;
    padding-left: 15px;
    padding-right: 15px;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#user-name{
    font-size: 3em;
    line-height: 1em;
}

#bio, a{
    font-weight: 300;
}

#profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#email{
    color:var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-size: 0.9em;
    color: var(--secondaryTextColor);
    transition: 0.3s;
}

#socials--list a:hover{
    color: var(--mainLinkColor);
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

#email {
    color: var(--mainTextColor);
    cursor: pointer;
    text-decoration: underline;
}

#email:hover {
    color: var(--mainLinkColor);
}

/*Hamburger*/
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--mainLinkColor);
    transition: all 0.3s ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--mainBgColor);
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--mainLinkColor);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:nth-child(2){
    opacity: 1;
}

.hamburger-icon span:last-child{
    transform: none;
}

/*Hamburger end */

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.section--page h2 {
    /*position: -webkit-sticky; !* For Safari *!*/
    position: sticky;
    top: 17vh; /* Adjust this value to match your nav bar height */
    background-color: var(--mainBgColor); /* Ensure it matches your background */
    z-index: 1000;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}


.card--techstack{
    border: 1px solid var(--mainBorderColor);
    padding: 0.5em 1em;
    border-radius: 5px;
}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);
    transition: 0.3s;
}

.card--project a:hover{
    color: var(--mainLinkColor);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

@media (max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        gap: 1em;
        flex-direction: column;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }

    .section--page h2 {
        top: 5vh;
    }

    nav{
        height: 10vh;
        padding: 0 1rem; /* Add padding for mobile view */
    }

    #container--main {
        margin-top: 10vh;
        padding-left: 15px;
        padding-right: 15px;
    }

    #desktop-nav{
            display: none;
        }

    #hamburger-nav{
            display: flex;
        }
}

@media screen and (max-width: 1200px) {

    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }

    #container--main {
        margin-top: 10vh;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section--page h2 {
        top: 10vh;
    }
}
